<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <link rel="icon" href="../imgs/dwarf.ico" type="image/icon type">
    <title>lil.deliverer</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
    <div class="bg-gray-300" id="particles-js">
        <div class="text-center flex" style="width: 320px; position: absolute;" id="main">
            <div class="wrapper-selector flex-1">
                <h1 class="text-xl mb-6" style="width: 246px; margin-top: 35vh; margin-left: 85vh;">Select a category</h1>
                <a class="btn text-2xl bg-purple-600 border-purple-900 hover:bg-white hover:border-purple-600 cursor-pointer" style="width: 246px; margin-left: 85vh;" id="food-maker">I'm a food-maker</a><br><br>
                <a class="btn text-2xl bg-purple-600 border-purple-900 hover:bg-white hover:border-purple-600 cursor-pointer" style="width: 246px; margin-left: 85vh;" id="food-lover">I'm a food-lover</a>
            </div>
        </div>
    </div>
    </div>

    </div>
    <script type="text/javascript" src="../js-particles/particles.js"></script>
    <script type="text/javascript" src="../js-particles/app.js"></script>
    <script type="text/javascript" src="../js/rengine.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIOSNb4gExHID1PWV07r94LXUF8Y7saAg&libraries=places"></script>
</body>
</body>

</html>