<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <link rel="icon" href="../imgs/dwarf.ico" type="image/icon type">
    <title>lil.deliverer</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="main.html">LIL.DELIVERER</a>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link " href="restaurant.html">
                        <p class="text-purple-600 hover:text-black">RESTAURANTS</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="orders.html">
                        <p class=" hover:text-purple-600">ORDERS</p>
                    </a>
                </li>
                <li class="nav-item active">
                </li>
            </ul>
            <a class="nav-link" href="user.html">
                <p class=" hover:text-purple-600">USER</p>
            </a>
        </div>
    </nav>
    <div class="cont">
        <div class="col">
            <h1 class="text-5xl mt-4 text-purple-600 text-center">Choose your restaurant</h1>

            <div class="flex py-10 bg-transparent" id="container">


            </div>
        </div>
    </div>
    <script src="../js/authChecker.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>