<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/userInformation.css">
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <link rel="icon" href="../imgs/dwarf.ico" type="image/icon type">
    <title>lil.deliverer</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LIL.DELIVERER</a>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link " href="#">
                        <p class=" hover:text-purple-600">RESTAURANTS</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="#">
                        <p class=" hover:text-purple-600">ORDERS</p>
                    </a>
                </li>
                <li class="nav-item active">
                </li>
            </ul>
            <a class="nav-link" href="#">
                <p class=" hover:text-purple-600">USER</p>
            </a>
        </div>
    </nav>
    <div class="cont">
        <div class="col">

        </div>
        <div class="col">
            <div class="row card main-card" style="align-items: center;">
                <h1 class="text-center text-5xl mt-4 text-purple-600">User information</h1>
                <div class="flex mt-10">

                    <div class="page-content page-container" id="page-content">
                        <div class="padding" style="width: 1000px;">
                            <div class="row container d-flex justify-content-center">
                                <div class="col-xl-20 col-md-12">
                                    <div class="card user-card-full">
                                        <div class="row">
                                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                                <div class="card-block text-center text-white mt-16">
                                                    <div class="m-b-25 ml-16"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                                    <h6 class="f-w-600">Martizia Chiamma</h6>
                                                    <p>Food lover</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="card-block">
                                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <p class="m-b-10 f-w-600">Email</p>
                                                            <h6 class="text-muted f-w-400">martizia@gmail.com</h6>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <p class="m-b-10 f-w-600">Username</p>
                                                            <h6 class="text-muted f-w-400">Marty01</h6>
                                                        </div>
                                                    </div>
                                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Payment information</h6>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <p class="m-b-10 f-w-600">Card</p>
                                                            <h6 class="text-muted f-w-400">Visa</h6>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <p class="m-b-10 f-w-600">Card number</p>
                                                            <h6 class="text-muted f-w-400">429**********342 </h6>
                                                        </div>
                                                    </div>
                                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Position</h6>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <p class="m-b-10 f-w-600">Town</p>
                                                            <h6 class="text-muted f-w-400">Bergamo</h6>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <p class="m-b-10 f-w-600">Address</p>
                                                            <h6 class="text-muted f-w-400">Via Giuseppe Garibaldi, 11</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col">
                </div>
            </div>
</body>

</html>