<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/userInformation.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <link rel="icon" href="../imgs/dwarf.ico" type="image/icon type">
    <title>lil.deliverer</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand ml-5" href="main.html">LIL.DELIVERER</a>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link " href="main.html">
                        <p class=" hover:text-purple-600">RESTAURANTS</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="checkout.html">
                        <p class=" hover:text-purple-600">checkout: <span id="checkoutN">0</span></p>
                    </a>
                </li>
                <li class="nav-item active">
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="orders.html">
                        <p class=" hover:tet-purple-600">orders</p>
                    </a>
                </li>
            </ul>
            <a class="nav-link" href="user.html">
                <p class=" hover:text-purple-600">USER</p>
            </a>
            <a class="nav-link" href="" id="logout">
                <p class="hover:text-purple-600">LOGOUT</p>
            </a>
        </div>
    </nav>
    <div class="cont">
        <div class="col">

        </div>
        <div class="col">
            <h1 class="text-center text-5xl mt-4 text-purple-600">User information</h1>
            <div class="flex mt-10">

                <div class="page-content page-container" id="page-content" style="margin:auto">
                    <div class="padding" id='main-card'>
                        <div class="row container d-flex justify-content-center">
                            <div class="col-xl-20 col-md-12">
                                <div class="card user-card-full">
                                    <div class="row">
                                        <div class="col-sm-4 bg-c-lite-green user-profile">
                                            <div class="card-block text-center text-white mt-16">
                                                <div class="m-b-25 ml-16"> <img
                                                        src="https://img.icons8.com/bubbles/100/000000/user.png"
                                                        class="img-radius" alt="User-Profile-Image" id='img'> </div>
                                                <h6 class="f-w-600" id="name" style="margin: auto;"></h6>
                                                <p>Food lover</p> <i
                                                    class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8" id='main'>
                                            <div class="card-block">
                                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Email</p>
                                                        <h6 class="text-muted f-w-400" id="email">
                                                        </h6>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Username</p>
                                                        <h6 class="text-muted f-w-400" id="username"></h6>
                                                    </div>
                                                </div>
                                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Payment
                                                    information</h6>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Name on the card</p>
                                                        <h6 class="text-muted f-w-400" id="cardname"></h6>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Card number</p>
                                                        <h6 class="text-muted f-w-400" id="cardnumber">
                                                        </h6>
                                                    </div>
                                                </div>
                                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Position</h6>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Town</p>
                                                        <h6 class="text-muted f-w-400" id="town"></h6>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Address</p>
                                                        <h6 class="text-muted f-w-400" id="address"></h6>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top: 20px;">
                                                        <a href="userModInfo.html"
                                                            class="btn bg-purple-600 border-purple-900 hover:bg-white hover:border-purple-600 cursor-pointer"
                                                            style="width: 30%;" id="modify">modify</a>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top: 20px;">
                                                        <a href="#"
                                                            class="btn bg-purple-600 border-purple-900 hover:bg-white hover:border-purple-600 cursor-pointer"
                                                            style="width: 45%;" id="deleteAccount">Delete account</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col ">
            </div>
        </div>
        <script src="../js/authChecker.js"></script>
        <script src="../js/infoUserPicker.js"></script>
        <script src="../js/Logout.js"></script>
        <script src="../js/deleteUser.js"></script>
</body>

</html>