@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#particles-js {
    height: 100%;
    float: none;
    background-size: auto;
}